<mat-slide-toggle>Toggle me!</mat-slide-toggle>


<div *ngIf="!isAdminLoggenIn && ! isEmployeeLoggenIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Task Management System</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/signup" routerLinkActive="active">Register</button>
    <button mat-button routerLink="/login" routerLinkActive="active">Login</button>

  </mat-toolbar>
</div>

<div *ngIf="isAdminLoggenIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Admin Navbar</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button routerLink="/admin/task" routerLinkActive="active">Post Task</button>
    <button mat-button (click)="logout()" routerLinkActive="active">Logout</button>

  </mat-toolbar>
</div>

<div *ngIf="isEmployeeLoggenIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Employee Navbar</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/employee/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button (click)="logout()" routerLinkActive="active">Logout</button>

  </mat-toolbar>
</div>





<router-outlet></router-outlet>