<!-- <div class="allQuestion">

    <table>

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">QuestionTitle</th>
                <th scope="col">Option1</th>
                <th scope="col">Option2</th>
                <th scope="col">Option3</th>
                <th scope="col">Option4</th>
                <th scope="col">Right Answer</th>
                <th scope="col">Category</th>
                <th scope="col">Difficulty Level</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let question of questionList"></tr>
            <td scope="row">{{question.id}}</td>
            <td>{{question.questionTitle}}</td>
            <td>{{question.option1}}</td>
            <td>{{question.option2}}</td>
            <td>{{question.option3}}</td>
            <td>{{question.option4}}</td>
            <td>{{question.rightAnswer}}</td>
            <td>{{question.category}}</td>
            <td>{{question.difficultylevel}}</td>
        </tbody>

    </table>

    <div>
        <a routerLink="/Creator" class="btn btn-primary">Back To Creator Page</a>
        <a routerLink="/Creator" class="btn btn-primary">Add More Questions</a>
    </div>
</div> -->