<div class="container">

    <div class="HomePage">
        <h1>Welcome Creator</h1>
        <p class="bg-warning text-dark">What you want to do ?</p>

        <a [routerLink]="['/addQuestion']" class="btn btn-primary">Add a Question</a>
        <a [routerLink]="['/allQuestion']" class="btn btn-primary">Get All Question </a>
        <a [routerLink]="['/categoryQuestion']" class="btn btn-primary">Get Questions By Category</a>
        <a [routerLink]="['/createQuiz']" class="btn btn-primary"> Create the Quiz </a>


    </div>

</div>