<!-- Common Header -->
<div class="container-fluid" *ngIf="!isClientLoggedIn && !isCompanyLoggedIn">
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container">
      <a class="navbar-brand" href="#">Service Booking System</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- Client Navbar -->
<div *ngIf="isClientLoggedIn">
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container">
      <a class="navbar-brand" href="#">Service Booking System</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/client/dashboard']" routerLinkActive="active">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/client/bookings']" routerLinkActive="active">Bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()" routerLinkActive="active">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="d-lg-none">
    <div class="list-group">
      <a class="list-group-item list-group-item-action" [routerLink]="['/client/dashboard']" routerLinkActive="active">Dashboard</a>
      <a class="list-group-item list-group-item-action" [routerLink]="['/client/bookings']" routerLinkActive="active">Bookings</a>
      <a class="list-group-item list-group-item-action" (click)="logout()" routerLinkActive="active">Logout</a>
    </div>
  </div>
</div>

<!-- Company Navbar -->
<div *ngIf="isCompanyLoggedIn">
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container">
      <a class="navbar-brand" href="#">Service Booking System</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/company/dashboard']" routerLinkActive="active">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/company/ad']" routerLinkActive="active">Ad</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/company/ads']" routerLinkActive="active">Ads</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()" routerLinkActive="active">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="d-lg-none">
    <div class="list-group">
      <a class="list-group-item list-group-item-action" [routerLink]="['/company/dashboard']" routerLinkActive="active">Dashboard</a>
      <a class="list-group-item list-group-item-action" [routerLink]="['/company/ad']" routerLinkActive="active">Ad</a>
      <a class="list-group-item list-group-item-action" [routerLink]="['/company/ads']" routerLinkActive="active">Ads</a>
      <a class="list-group-item list-group-item-action" (click)="logout()" routerLinkActive="active">Logout</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
